body {
  margin: 0;
  line-height: normal;
  font-size: var(--font-size-xl);
    color: var(--brand-primary-deep-blue);
    font-family: var(--font-helvetica-neue);
    text-decoration: none!important;
}

:root {
  /* fonts */
  --font-helvetica-neue: "Helvetica Neue";
  --font-helvetica: Helvetica;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-xl: 20px;

  /* Colors */
  --brand-primary-sky-blue: #bfdef0;
  --brand-primary-deep-blue: #122c4b;
  --shades-white: #fff;

  /* Gaps */
  --gap-base: 16px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;

  /* border radiuses */
  --br-5xs: 8px;
}
